body {
    background-color:cadetblue;
}

.card {
    margin: 10px auto;

}

h1 {
    text-align: center;
    font-size: 70px;
    color: brown;
}
.body input {
    margin: 10px auto;
}
.body {
    display: inline-block;
    width: 200px;
}
.elore {
    float: right;
    margin: 0 400px 0 0;
}
.hatra {
    margin: 0 0 0 200px;
}
.category-choice {
    margin: 20px;

    display: inline-block;
}
h2 {
    text-align: center;
    color: blue;
}
.price {
    margin: 20px;

    display: inline-block;
}
.rating {
    margin: 20px;

    display: inline-block;
}
.sales {
    margin: 20px;

    display: inline-block;
}